.PlayerContainer {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
}

.RibbonContainer {
  padding: 10px;
  border: 1px solid #ccc;
}

.HeaderInfo {
  position: sticky;
}

.Me {
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StartingCharacterHeader {
  margin: 5px;
}

.x {
  display: flex;
  justify-content: center;
}

.Title {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.Box {
  min-height: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  transition: 1s ease-in;
  height: 100%;
  box-sizing: border-box;

  &__Header {
    margin-top: 0px;
  }

  &__Important {
    border: 1px solid red;
    transition: none;
  }
}

.Killed {
  color: red;
}
