$spacing: 10px;
$sm: 100px;
$md: 150px;
$lg: 200px;

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.Player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing;
  cursor: pointer;
  box-sizing: border-box;

  & + & {
    margin-left: 10px;
  }

  &__Highlighted {
    border: 3px solid #24e0d4;
  }

  &__Small {
    height: $sm;
    width: $sm;
  }

  &__Medium {
    height: $md;
    width: $md;
  }

  &__Large {
    height: $lg;
    width: $lg;
  }
}

