.RibbonContainer {
  display: flex;
}

.RibbonItem {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &--active {
    @extend .RibbonItem;
    border: 2px solid #10aafa;
  }

  &__highlighted {
    border: 3px solid #e02442;
  }

  & + .RibbonItem {
    margin-left: 10px;
  }
}
