.RibbonContainer {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
}

.RibbonItem {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &--active {
    @extend .RibbonItem;
    border: 4px solid #e02442;
  }

  &__highlighted {
    border: 3px solid #e02442;
  }

  &__Clickable {
    cursor: pointer;
  }

  & + .RibbonItem {
    margin-left: 10px;
  }
}
